/* @truecms/testmodule4 v1.0.2 */

@use "[path]/tests/test8/node_modules/@truecms/testmodule1/lib/sass/_module.scss" as *;
@use "[path]/tests/test8/node_modules/@truecms/testmodule4/lib/sass/_module.scss" as *;

